{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}

  <audio id="audioMusic" class="audio" autoplay loop src="../assets/music/scoreBoard.mp3"></audio>

  <div class="container">

    <br/>
    <br/>
    <br/>

    <div>
      <label for="game">Sélectionner le jeu à consulter: </label>
      <select id="selectGame" name="game">
        {% for game in games %}
          <option value="{{game.id}}">{{game.name}}</option>
        {% endfor %}
      </select>  
      <br>
      <br>
      <button class="btn btn-secondary" onclick="getScores()">Lancer la recherche</button>
    </div>

    <br/>
    <br/>

    <div id="divTableScores"></div>

    
  </div>

  {% include "scores/_scriptsScoreBoard.html.twig" %}



{% endblock %}

