{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}

    <audio id="audioMusic" class="audio" autoplay loop src="assets/music/index.mp3"></audio>

    <div class="container">

        <br/>
        <nav>
            <ul id="menuPrincipal" class="nav flex-column">
                <h4 class="titreMenu">Menu de Jeux</h4>
                <li class="nav-item"><a class="nav-link text-white" onclick="getGame('seigneur')">Seigneur des Anneaux (difficile)</a></li>
                <li class="nav-item"><a class="nav-link text-white" onclick="getGame('star')">Star Wars (normal)</a></li>
                <li class="nav-item"><a class="nav-link text-white" onclick="getGame('epitech')">Epitech (facile)</a></li>
                <li class="nav-item"><a class="nav-link text-white " onclick="getGame('sexe')">Adulte (special)</a></li>
            </ul>
        </nav>
        <br/>
        <br/>
        <a href="{{ path('scoresMenu') }}">
            <input class="btn btn-secondary" style="width:250px;height:50px" type="submit" value="Voir le tableau des scores" />
        </a>

    </div>

    <script>
        {% include "home/_scriptsHome.js" %}
    </script>

{% endblock %}


