{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}


    <a class="text-light text-decoration-none hoverBold" href="{{ path('user_logout') }}">
        <span>
            <i class="fas fa-door-open"></i>
            Déco.
        </span>
    </a>


    <div class="container">
        <h1 class="titreIndex">
            HTML5 GAMING REMASTERED
            <br/>
            by Mickael
            <i class="fa-solid fa-gamepad"></i>
        </h1>
        <audio id="audio" class="audio" autoplay loop controls src="assets/music/index.mp3"></audio>
        <br/>
        <br/>
        <br/>
        <p>Vous jouez actuellement en tant que :</p>
        <p>
            <span id="showPseudo" class="showPseudo">
                Invité
            </span>
        </p>
        <p id="changePseudo" class="changePseudo" hidden>
            <input id="inputChangePseudo" type="text">
            <button  id="buttonChangePseudo" class="btn-secondary" type="button">Confirmer</button>
        </p>
        <br/>
        <nav>
            <ul id="menuPrincipal" class="nav flex-column">
                <h4 class="titreMenu">Menu de Jeux</h4>
                <li class="nav-item"><a class="nav-link text-white" onclick="getGame('seigneur')">Seigneur des Anneaux (difficile)</a></li>
                <li class="nav-item"><a class="nav-link text-white" onclick="getGame('star')">Star Wars (normal)</a></li>
                <li class="nav-item"><a class="nav-link text-white" onclick="getGame('epitech')">Epitech (facile)</a></li>
                <li class="nav-item"><a class="nav-link text-white " onclick="getGame('sexe')">Adulte (special)</a></li>
            </ul>
        </nav>
        <br/>
        <br/>
        <form action="templates/scoreBoard/scoreBoard.php">
            <input class="btn-secondary" type="submit" value="Voir le tableau des scores" />
        </form>
    </div>

    <script>
        {% include "home/_scriptsHome.js" %}
    </script>

{% endblock %}


