{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}

    <div class="container">
<<<<<<< HEAD
        <h1 class="titreIndex">HTML5 GAMING REMASTERED - By Enes et Mickael</h1>
=======
        <h1 class="titreIndex">
            HTML5 GAMING REMASTERED
            <br/>
            by Mickael
        </h1>
>>>>>>> 51188ac86dbdeee134da020c2ff8042a9205781a
        <audio id="audio" class="audio" autoplay loop controls src="assets/music/index.mp3"></audio>
        <br/>
        <br/>
        <br/>
        <p>Vous jouez actuellement en tant que :</p>
        <p>
        <span id="showPseudo" class="showPseudo">
            Invité
        </span>
        </p>
        <p id="changePseudo" class="changePseudo" hidden>
        <input id="inputChangePseudo" type="text">
        <button  id="buttonChangePseudo" class="btn-secondary" type="button">Confirmer</button>
        </p>
        <br/>
        <nav>
            <ul id="menuPrincipal" class="nav flex-column">
                <h4 class="titreMenu">Menu de Jeux</h4>
                <li class="nav-item"><a class="nav-link" onclick="getGame('seigneur')">Seigneur des Anneaux (difficile)</a></li>
                <li class="nav-item"><a class="nav-link" onclick="getGame('star')">Star Wars (normal)</a></li>
                <li class="nav-item"><a class="nav-link" onclick="getGame('epitech')">Epitech (facile)</a></li>
                <li class="nav-item"><a class="nav-link " onclick="getGame('sexe')">Adulte (special)</a></li>
            </ul>
        </nav>
        <br/>
        <br/>
        <form action="scoreBoard/scoreBoard.php">
        <input class="btn-secondary" type="submit" value="Voir le tableau des scores" />
        </form>
    </div>

    <script>
        {% include "index/index.js" %}
    </script>

{% endblock %}


