

<div class="row">
    <div class="col-12">
    <h3>Choisissez votre personnage...</h3>
    </div>
    <div class="row">
        <div class="col-4">
            <span onclick="nextStep('ganfalf')">
                <img width="300" height="300" src="{{asset('assets/gameSeigneur/assetsGame/menus/gandalf.jpeg')}}">
                <p>Ganfalf</p>
            </span>
        </div>
        <div class="col-4">
            <span onclick="nextStep('gimli')">
                <img width="400" height="300" src="{{asset('assets/gameSeigneur/assetsGame/menus/gimli.jpg')}}">
                <p>Gimli</p>
            </span>
        </div>
        <div class="col-4">
            <span onclick="nextStep('legolas')">
                <img width="400" height="300" src="{{asset('assets/gameSeigneur/assetsGame/menus/legolas.jpg')}}">
                <p>Legolas</p>
            </span>
        </div>
    </div>
</div>
