
{% extends 'base.html.twig' %}

{% block body %}


    {% include "common/_backToTheMenu.html.twig" %}

    <audio id="audioMusic" class="audio" loop src="{{asset('assets/gameSeigneur/assetsGame/audios/musics/victory.mp3')}}"></audio>

    <div class="menu">

        <div class="row">
            <div class="col-12">
                <h3>Bonjour membres de la communauté</h3>
                <p>
                    Il s'agit d'un jeu type SpaceInvaders où le but sera de survivre le plus longtemps possible
                    tout en tuant un maximum d'ennemis
                </p>
                <button onclick="nextStep(null)">
                    suivant
                </button>
            </div>
        </div>

    </div>


    <script>

        var stepMenu = 0
        
        var controls = ""
        var weapon = ""

        function nextStep(variable){
            stepMenu = stepMenu + 1
            console.log(stepMenu)
            if(stepMenu===2){
                controls = variable
                console.log(controls)
            } else if(stepMenu===3){
                weapon = variable
                console.log(weapon)
            }
            console.log(stepMenu)
            //envoi score BDD
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('menuSeigneur') }}",
                // Le délai maximun en millisecondes de traitement de la demande
                type: "POST",
                data: {
                    "stepMenu": stepMenu,
                },
                timeout: 4000,
                // La fonction à apeller si la requête aboutie
                success: function (result) {
                    if(stepMenu>=3){
                        let path = `
                            <form action="{{ path('gameSeigneur') }}" method="POST">
                                <input type="hidden" name="controls" value="controlsName"/>
                                <input type="hidden" name="weapon" value="weaponName"/>
                                <button type="submit">Lancer la partie</button>
                            </form>
                        `
                        path = path.replace("controlsName", controls);
                        path = path.replace("weaponName", weapon);
                        $(".menu").html(path)
                    } else {
                        $(".menu").html(result)
                    }
                },
                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    console.log('nextStep error')
                }
            });
        }

    </script>

{% endblock %}